 #root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
.main{
    flex-grow: 1;
  } 
.imgError404{
  width: 100%;
}
.imgBanner{
   height: 50vh;
}
.imgCafe{
  height: 300px;
}
@media (max-width: 768px) {
  .alineacionProductos {
   display: flex;
   justify-content: center;
  }
}