#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
.mainPage{
    flex-grow: 1;
  }
.imgBanner{
  height: 50vh;
}
.imgCafe{
  height: 300px;
}
@media (max-width: 768px) {
  .alineacionProductos {
   display: flex;
   justify-content: center;
  }
}